.button {
  --background: #2B3044;
  --background-hover: #1E2235;
  --text: #fff;
  --icon: #fff;
  --particle: #fff;
  display: -webkit-box;
  display: flex;
  outline: none;
  cursor: pointer;
  border: 1px solid white;
  min-width: 113px;
  padding: 8px 20px 8px 12px;
  border-radius: 11px;
  line-height: 24px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: var(--text);
  background: var(--b, var(--background));
  -webkit-transition: background .4s, -webkit-transform .3s;
  transition: background .4s, -webkit-transform .3s;
  transition: transform .3s, background .4s;
  transition: transform .3s, background .4s, -webkit-transform .3s;
  -webkit-transform: scale(var(--scale, 1)) translateZ(0);
          transform: scale(var(--scale, 1)) translateZ(0);
}
.button:active {
  --scale: .95;
}
.button:hover {
  --b: var(--background-hover);
}
.button .icon {
  --arrow-y: 0;
  --arrow-rotate: 135;
  --arrow-top: 10px;
  width: 24px;
  height: 24px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
  pointer-events: none;
}
.button .icon .dot {
  border-radius: 50%;
  background: #fff;
  background: var(--particle);
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 4px;
}
.button .icon .arrow,
.button .icon .line {
  position: absolute;
  z-index: 1;
}
.button .icon .arrow {
  left: 11px;
  top: 4px;
  width: 2px;
  height: 12px;
  border-radius: 1px;
  background: var(--icon);
  -webkit-transform: translateY(calc(var(--arrow-y) * 1px)) translateZ(0);
          transform: translateY(calc(var(--arrow-y) * 1px)) translateZ(0);
}
.button .icon .arrow:before, .button .icon .arrow:after {
  content: '';
  width: 2px;
  height: 7px;
  position: absolute;
  left: 0;
  top: var(--arrow-top);
  border-radius: 1px;
  background: inherit;
  -webkit-transform-origin: 1px 1px;
          transform-origin: 1px 1px;
  -webkit-transform: rotate(var(--r, calc(var(--arrow-rotate) * 1deg)));
          transform: rotate(var(--r, calc(var(--arrow-rotate) * 1deg)));
}
.button .icon .arrow:after {
  --r: calc(var(--arrow-rotate) * -1deg);
}
.button .icon .line {
  width: 24px;
  height: 24px;
  display: block;
  left: 0;
  top: 7px;
  fill: none;
  stroke: var(--icon);
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.button.upload .icon {
  --arrow-rotate: 45;
  --arrow-top: 0;
}

